apiVersion: v1
kind: Service
metadata:
  name: {{ include "3x-ui.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
  selector:
    app: {{ include "3x-ui.name" . }}
